@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html {
  scroll-behavior: smooth;
}
/* Add smooth transitions for theme changes */
* {
  transition-property: background-color, border-color, color, fill, transform;
  transition-duration: 10ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Wave animation */
@keyframes wave {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.wave-animation {
  animation: wave 8s ease-in-out infinite;
}
/* Scroll down animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.float-animation {
  animation: float 3s ease-in-out infinite;
}
/* Navbar trigger zone */
.navbar-trigger {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 40px;
  z-index: 48;
}